
<div>
    
        <h1>Place Order</h1>
        <form action="/index" method="POST">
        <%=for ingredient <- ingredients do%>
            <input type="checkbox" name="<%=ingredient.ing_name%> value="Ingredient" autocomplete="off">
            <label for="ingredient<%=ingredient.id%>"> <%=ingredient.ing_name%></label><br>

            
        <%end%>
        <input type="submit" value="Submit">
        </form>
</div>